<%= render "/shared/page_header_user" %>

<div class="container">
  <div class="row">
    <%= render partial: "/shared/summary_card", locals:{user: @user} %>
    <%= render partial: 'shared/profile_sidebar', locals: {cohorts: @admin_cohorts} %>
    <%= render partial: 'shared/cohort_membership', locals: {cohorts: @all_cohorts} %>
  </div>
  <div class="row m-0 pt-3">
    <%= link_to 'Delete My Account',  "/users/profile",class:"button text-uppercase", data: { confirm: 'Are you sure?' }, method: :delete, remote: true %>
  
  </div>
</div>