<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Profile image url:</strong>
  <%= @user.profile_image_link %>
</p>



<p>
  <strong>Current employer:</strong>
  <%= @user.current_employer %>
</p>

<p>
  <strong>Current title:</strong>
  <%= @user.current_title %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.location %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
