<%= render "/shared/page_header_user" %>

<div class="container">
  <div class="row">
    <%= render "/shared/summary_card" %>
    <%= render "/shared/profile_sidebar" %>
    <%= render "/shared/cohort_membership" %>
  </div>

 <button class="btn btn-outline-primary"><%= link_to 'Delete My Account',  "/users/profile",
   data: { confirm: 'Are you sure?' }, method: :delete, remote: true %></button>
</div>