<!-- Button trigger modal -->
<button class=" fa fa-plus-square-o fa-lg bg-transparent border-0" data-toggle="modal" data-target="#exampleModalCenter"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Cohort</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for Cohort.new(), url: "/cohorts", remote: true,  html: {class: "create-cohort"} do |f| %>
          <%= f.text_field :name%>
          <%= f.date_field :start_date, value: Date.today%>
          <%= f.date_field :end_date, value: Date.today%>
          <%= f.text_field :description%>
      </div>
      <div class="modal-footer">
        <%= f.submit "save cohort" , class: "button text-uppercase"%>
      </div>
    </div>
    <%end%>
  </div>
</div>