<div class="page-header page-header-small" filter-color="green">
  <div class="page-header-image">
  </div>
  <div class="row m-0">
    <div class="content-center col-md-7">
      <div class="photo-container">
      <%= image_tag (@user.profile_image_link), :class => ("thumb_sm ") %>
            </div>
      <h3 class="title"><%= @user.name%></h3>
      <div class="content">
        <div class="social-description">
        <p class="description text-white"><span><%= @user.current_title %></span> | <span><%= @user.current_employer %></span></p>
          <p class="description text-white"><%= @user.location %></p>
        </div>
      </div>
    </div>
  </div> <!-- row1-cohort-info -->
</div>