<p id="notice"><%= notice %></p>

<h1>Group Invitations</h1>

<table>
  <thead>
    <tr>
      <th>Sent by</th>
      <th>User</th>
      <th>Group</th>
      <th>Accepted?</th>
      <th>Admin approved?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_invitations.each do |group_invitation| %>
      <tr>
        <td><%= group_invitation.sent_by_id %></td>
        <td><%= group_invitation.user_id %></td>
        <td><%= group_invitation.group_id %></td>
        <td><%= group_invitation.accepted? %></td>
        <td><%= group_invitation.admin_approved? %></td>
        <td><%= link_to 'Show', group_invitation %></td>
        <td><%= link_to 'Edit', edit_group_invitation_path(group_invitation) %></td>
        <td><%= link_to 'Destroy', group_invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group Invitation', new_group_invitation_path %>
