<!DOCTYPE html>
<html>
  <head>
    <title>CohortConnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'now-ui-kit.js', 'data-turbolinks-track': 'reload' %>
    

  </head>


  <body >
    <%= render '/shared/navbar' %>
    <%= yield %>
  </body>
</html>
